# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Caches and environments
.pytest_cache/
.mypy_cache/
env/
venv/
.venv/

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak
*.tmp
